* {
  /* margin:0;
  padding:0; */
  box-sizing: border-box;
}

#main {
  display:flex;
  justify-content: center;
  align-content: center;
  height:100vh;
}

#wrapper {
  perspective:450px;
  width:200px;
  height:200px;
  margin: 100px;
}

#cube {
  width:100%;
  height:100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube-face {
  position: absolute;
  width: 200px;
  height: 200px;
  font-family: sans-serif;
  font-size: 25px;
  color:white;
  border:2px black solid;
  opacity: 0.5;
}

#cube-face-bottom {
  background-color:pink;
  transform: rotateX(-90deg) translateZ(100px);
}

#cube-face-top {
  background-color:purple;
  transform: rotateX(90deg) translateZ(100px);

}
#cube-face-right {
  background-color:yellow;
  transform: rotateY(90deg) translateZ(100px);

}
#cube-face-left {
  background-color:aqua;
  transform: rotateY(-90deg) translateZ(100px);

}
#cube-face-back {
  background-color:green;
  transform: rotateY(180deg) translateZ(100px);

}
#cube-face-front {
  background-color:red;
  transform:rotateY(0deg) translateZ(100px);

}
