* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body  {
  display: flex;
  -webkit-flex: column;
  -ms-flex: column;
  flex-direction: column;
  height:100vh;
  justify-content:center;
  align-items: center;
  background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%);
  color:white;
  font-family: sans-serif;
}



#temperature,
#location {
  height:25vh;
  display:flex;
  flex-direction: column;
  font-size: 300%;
}
